div.div1 {
  border: 1px solid black;
  /* margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px; */
  margin: 100px 150px 100px 80px;
  background: lightblue;
}
div.div2 {
  border: 1px solid black;
  width: 300px;
  margin: auto;
  background: lightblue;
}
.heading1 {
  margin: inherit;
}
