table, td, th {
  /* border-bottom: 3px solid rgba(100,100,100,0.5); */
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: 30px;
}

tr:hover {
  background-color: rgba(100,100,100,0.3);
}

tr:nth-child(even){
  background-color: rgba(100,100,100,0.3);
}

th {
  background-color: green;
  color: white;
}

caption {
  caption-side: bottom;
}

#scoreBoard {
  overflow-x: auto;
}
