* {
  font-style: oblique;
}

p {
  color: gray;
}

#name {
  font-size: 30px;
  color: powderblue;
}

.center {
  text-align: center;
}

p.center {
  text-decoration: underline;
}

#name, h2 {
  font-family: serif;
}
